VueJs/VueJs/bin/Debug/net6.0/appsettings.Development.json,VueJs/VueJs/bin/Debug/net6.0/appsettings.json,VueJs/VueJs/bin/Debug/net6.0/Microsoft.OpenApi.dll,VueJs/VueJs/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll,VueJs/VueJs/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll,VueJs/VueJs/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll,VueJs/VueJs/bin/Debug/net6.0/VueJs.deps.json,VueJs/VueJs/bin/Debug/net6.0/VueJs.dll,VueJs/VueJs/bin/Debug/net6.0/VueJs.exe,VueJs/VueJs/bin/Debug/net6.0/VueJs.pdb,VueJs/VueJs/bin/Debug/net6.0/VueJs.runtimeconfig.json
VueJs/VueJs/bin/
VueJs/VueJs/obj/
VueJs/VueApp/VueApp.Server/obj/
VueJs/VueApp/VueApp.Server/bin/
VueJs/VueApp/vueapp.client/obj/
VueJs/.vs/
